extends ../layout

block content
  p #[strong] #{title}
  h1 #{name}

  h2  Tutorials for different applications of Chaff
  
  .project-wrapper
    .project-box
      a(href='list/composting.html')
        img(src='https://opimedia.azureedge.net/-/media/images/men/editorial/articles/online-articles/2015/01-01/start-a-compost-pile-to-help-your-garden-grow/compost-pile-jpg.jpg')
      h3 Composting
      .project-box-blurb
        p
          | Chaff is highly nitrogenous, so it is a great resource for mixing into
          | your compost piles.
    .project-box
      a(href='list/mulching.html')
        img(src='https://www.saundersls.com/wp-content/uploads/2014/09/CedarMulch.png')
      h3 Mulching
      .project-box-blurb
        p
          | Just like compost piles, mixing chaff into mulch helps increase the nutritional value
          | of your mulch, so your lawns and gardens thrive.
    .project-box
      a(href='list/mushrooms.html')
        img(src='http://3.bp.blogspot.com/-CF7vTsdIFdI/TqF0-xMfqII/AAAAAAAABNM/Wo3ooP45RA8/s1600/IMG_0501.JPG')
      h3 Mushrooms
      .project-box-blurb
        p
          | Due to the high sugar content, and low density of chaff, it is the perfect
          | substrate for growing mushrooms. Oyster mushrooms in particular love the stuff.
    hr
    .project-box
      a(href='list/eco-bricks.html')
        img(src='https://www.rountoncoffee.co.uk/blog/wp-content/uploads/2014/06/DSC08032.jpg')
      h3 Eco-Bricks
      .project-box-blurb
        p
          | If you happen to have a briquetting machine, you can mix chaff with sawdust to create
          | dense and deliciously smelling briquettes for any and all types of fires.
    .project-box
      a(href='list/cattle_feed.html')
        img(src='https://www.bentoli.com/wp-content/uploads/2017/03/Cattle-Feed-Blog-Post.jpg')
      h3 Cattle Feed
      .project-box-blurb
        p
          | Again due to it's highly nutritious content, chaff makes the perfect additive to
          | cattle feed, so you can buy less and feed more.
    .project-box
      a(href='list/poultry_bedding.html')
        img(src='https://countrysidenetwork.com/wp-content/uploads/iStock_8921381_SMALL.jpg')
      h3 Poultry Bedding
      .project-box-blurb
        p
          | Because it is so light and fluffy, mixing it with your sawdust and other materials
          | helps give you more bang for your buck when laying poultry beds.
