extends layout

block content
  h3 About
  //- h4 #{user}


  p Coffee Chaff is a highly nutritious soil additive created as a byproduct of coffee roasting. It it is the husk of the coffee bean, and during the roasting process it heats up, eventually falling off to be removed by the roaster.
  | It is light and fibrous, has high nitrogen content, and contains many other nutrients in trace amounts. This makes it ideal for composting, mulching, chicken bedding, cattle feed, briquettes, mushroom growing, and many others uses.
  | A single roaster can produce 4,000 lbs of chaff per month. Many roasters have found direct outlets for their chaff, but even then they often produce more than their recyclers can take.
  | Chaff Map is here to help you get started using this amazing material in your own projects.

  hr

  div
  a(href='/') Find Roasters

  div
  a(href='/catalog/project_list')  Follow Tutorials
