extends layout

block content

  hr

  div.container
    div.columns
      
      div.column
        img(src='../img/chaff-map-art.png')

      div.column
        h3.title Give. Make.

        p Every day, people around the world send millions of tons of waste to landfills. Why? 
        br
        p Often the answer is that it’s cheaper and easier than any other option. 
          | But it doesn’t have to be. 
        br
        p Chaff map is here to provide a place to share waste so that it may be used 
          | for an alternate purpose and stay out of our landfills.
        br
        p We have one house, let’s keep it clean. 
        br
    
        a(class='button is-primary is-medium' href='/catalog/register' ) Sign up

        hr

        div
        a(class='button is-link' href='/catalog/projects')  Find Projects

        a(style="margin-left:5px" class='button is-link' href='/catalog/wastes')  Use Waste

        br

    p#disclaimerText DISCLAIMER: Chaffmap takes no responsibility over the contents posted by 
      | users, or interactions between users. Users are entirely responsible for
      | themselves as they should be fully aware of if they have made it this far 
      | in life and in this sentence. Chaffmap is simply here to facilitate the
      | positive exchange of materials and ideas for universal benefit. If this is
      | something you take issue with I don't know how I can help. If there's 
      | something else you have an issue with  
      | <a href="SamuelChasan@gmail.com">please reach out to me.</a>

