extends layout

block content

  hr

  div.columns
    
    div.column
      img(src='../img/chaff-map-art.png')

    div.column
      h3.title Give. Make.

      p Every day, people around the world send millions of tons of waste to landfills. Why? 
      br
      p Often the answer is that it’s cheaper and easier than any other option. 
        | But it doesn’t have to be. 
      br
      p Chaff map is here to provide place to share waste so that it may be used 
        | for an alternate purpose and stay out of our landfills.
      br
      p We have one house, let’s keep it clean. 
      br
  
      a(class='button is-primary is-medium' href='/catalog/register' ) Sign up

      hr

      div
      a(class='button is-link' href='/catalog/projects')  Find Projects

      a(style="margin-left:5px" class='button is-link' href='/catalog/wastes')  Use Waste
