p Compost is a bit technical. Even if it seems just like throwing stuff into a bucket. Basically, it is. However, you need to get the ratios right otherwise you run the risk of generating lots of nasty bacteria and fungus.
p Compost is necessarily ‘brown stuff’ and ‘green stuff’. These are terms you see a lot.
p Chaff is brown stuff. Brown stuff has typically been dead for a while, and more importantly is high in fiber. Fiber is sugar, so particular types of creatures feast on brown stuff.
p Food scraps are mostly green stuff, leftover vegetable ends, leaves, grass cuttings, stuff that was recently alive, and is high is chloroplasts - hence the green color among other more essential nutrients. These are tasty for other types of organisms.
p Mixing these two materials together in a mostly sealed container allows the two types of microcritters to work together to convert all that wasted material into rich soil high in nitrogen, carbon, phosphorous, iron, magnesium, etc that plants love.
p Pro tip, keep mixing your compost regularly to speed up the composting cycle.
p Pro tip 2, save your seeds from fruits and things that you may think are vegetables, plant them later in your compost to get free house plants, and maybe even food!