p Mulching is a bit like composting. Just a little more hands-off. When mulching, you basically take your yard clippings, mix with chaff, and cover the area that needs to be mulched.
p Similar to poultry bedding, you want to make sure that the top layer is something other than chaff, like woodchips, otherwise the chaff will fly all over.