extends layout

block content
  h1= title

  hr

  p Welcome to #[em Chaff Map], a very basic express app 
    | this is a paragraph as one single string of text
    | this is a paragraph as one single string of text
    | this is a paragraph as one single string of text
    | this is a paragraph as one single string of text

  p This is another paragraph

  hr

  h2 Search for roasters
  form#Search(method='post', action='/search')
    input#textFieldId(type='text', name='textField')
    button#submitButton(type='submit') Submit


  if error
    p Error getting dynamic content.
  else
    p Chaff Map has the following record counts:

    ul
      li #[strong Roasters:] !{data.roaster_count}

  hr

  div#map
