extends layout

block content

  h1 Chaff Map. Find By Products.

  hr
  
  h1 Find Chaff
  div#searchBox
    script(src='../js/searchInput.js') 


  hr

  div#googleMap
    script(src='../js/map.js')
