extends layout

block content

  br
  div.container
    div.columns
      div.column.is-one-third
        h2.title.is-2 Find Projects and Materials by you! 
        p Enter an address, city, or zip code
        div#searchBox
          script(src='../js/searchInput.js') 
        
        div#homeText.box
          h5.title.is-5 Save Money
          p Find free items, or offload unneeded items! Chaffmap 
            | is here to connect you, and inspire you to make your
            | next masterpiece.
          div#actionButtons
            a.button.is-link.is-outlined(href='/catalog/wastes') <b>Find materials </b> 
            a.button.is-link.is-outlined(href='/catalog/projects') <b>Find projects</b> 
              
        br

        b Join today 
          a(class='button is-link is-small' href='/catalog/register' ) Sign up
      

      div.column.is-two-thirds
        div#googleMap
          script(src='../js/map.js')
  