extends layout

block content
  //- h4 #{title}
  
  //- if currentUser && currentUser.isAdmin
  //-   h3 you're an admin!

  //- hr

  h1 Welcome to Chaff Map. Where you can find Chaff.
  p Coffee roasters produce Chaff as a by product. Often it is sent to landfills.
  | But there are a number of amazing uses for chaff. Here at Chaffmap, you can
  | find chaff near you, and projects to help you learn how to make amazing
  | things with chaff!

  hr
  
  h1 Find Chaff
  div#searchBox
    script(src='/js/search.js') 

  //- h2 Search for roasters
  //- form(method='post', action='')
  //-   input#Search(type='text', name='textField')
  //-   button#submitSearch(type='submit') Submit

  hr

  div#googleMap
    script(src='../js/map.js')
