extends layout

block content

  br
  div.columns
    div.column
      h2.title Find Projects and Materials by you! 
      p Enter an address, city, or zip code

    div.column
      div#searchBox
        script(src='../js/searchInput.js') 

  hr

  div#googleMap
    script(src='../js/map.js')
