extends layout

block content
  h4= title

  hr

  h2 Welcome to #[em Chaff Map]. Where you can find Chaff.
  p Coffee roasters produce Chaff as a by product. Often it is sent to landfills.
  | But there are a number of amazing uses for chaff. Here at Chaffmap, you can
  | find chaff near you, and projects to help you learn how to make amazing
  | things with chaff!

  hr

  h2 Search for roasters
  form(method='post', action='')
    input#Search(type='text', name='textField')
    button#submitSearch(type='submit') Submit


  if error
    p Error getting dynamic content.
  else
    p Chaff Map has the following record counts:

    ul
      li #[strong Roasters:] !{data.roaster_count}

  hr

  div#mapid
  script(src='javascripts/map.js')
