doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfOlt3Oe5zfpFaNrtUDQ-dGe0_JZ_9yUI")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/form.js')

  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/roaster/list') Roasters
              li
                a(href='/catalog/project/list') Projects
              li
                a(href='/catalog/about') About
              if (!currentUser)  
                li
                  a(href='/catalog/user/login') Login
                li
                  a(href='/catalog/user/create') Register
              if (currentUser)
                li Signed in as 
                  a(href = '/catalog/user/profile') #{currentUser.username}
                li  
                  a(href = '/catalog/user/logout') Logout
                  
              

        div(class='col-sm-10')
          block content
