extends layout

block content
  //- h1 #{title}

  div#loginBox
    script(src='/js/login.js')

    //- form(method='POST' action='login')
    //-   div.form-group
    //-     label(for='username') Username:
    //-     input#username.form-control(type='text', placeholder='madDasher' name='username' )
    //-   div
    //-   div.form-group
    //-     label(for='password') Password:
    //-     input#password.form-control(type='text', placeholder='********' name='password' )

    //-   button.btn.btn-primary(type='submit') Submit

  