extends layout

block content
  h1 #{title}

  div#registerBox
    script(src='/js/register.js')
  //- form(method='POST' action='create')
  //-   div.form-group
  //-     label(for='username') Username:
  //-     input#username.form-control(type='text', placeholder='madDasher' name='username' )
  //-   div
  //-   div.form-group
  //-     label(for='email') E-mail:
  //-     input#email.form-control(type='text', placeholder='madDasher@gmail.com' name='email')
  //-   div
  //-   div.form-group
  //-     label(for='password') Password:
  //-     input#password.form-control(type='text', placeholder='********' name='password' )
  //-   div
  //-   div.form-group
  //-     label(for='avatar') Avatar
  //-     input#avatar.form-control(type='text', placeholder='https://bit.ly/2CnMf8m' name='avatar' )
  //- button.btn.btn-primary(type='submit') Submit

  