extends layout

block content
  h1 #{title}

  form(method='POST' action='user_login')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='madDasher' name='username' value=(undefined===user ? '' : user.username))
    div
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='********' name='password' value=(undefined===user ? '' : user.password))

    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
