.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding-left: 10px;
  font-family: "Sans-serif", Helvetica;
}

.title{
  width:200px;
}

#coverArea{
  height: 200px;
}

#avatarInput{
  width: 180px;
  right: 5px;
  position: relative; 
  display: inline-block;
}

#editButton{
  position: relative; 
  display: inline-block;
  margin: 5px;
  float: right;
}

#editButtons{
  position: absolute;
  right: 20px;
}

#userInfo{
  width: 150px;
  padding-top: 2em;
  padding-left: 10px;
  display: inline-block;
  position: relative;
}

.columns{
  padding: 10px
}

.subtitle.is-5{
  margin: -20px 0px 5px
}

#addButtons{
  position: relative; 
  display: inline-block;
}

#addProjectButton{
  margin: 10px;
}

#addWasteButton{
  margin: 10px;
}

#projectInfo{
  display: inline-block;
  width: 200px;
}

#projectInfo p {
  font-size: 12px;
}

#projectInfo h2 {
  font-weight: bold;
}

#projectImage{
  display: inline-block;
  width: 400px;
}

.projectGallery{
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.projectThumbs img{
  width: 100px;
  height: 100px;
  padding: 10px;
  float: none;
}
.projectText {
  display: inline-block;
  float: none;
  position: absolute;
  padding-top: 10px;
  width: 136px;
}

.projectText h2{
  font-size: 12pt;
  padding-bottom: 2pt;
  width: 136px;
}
.projectText p{
  font-size: 9pt;
  margin-top: 2pt;
  width: 136px;
}

.projectThumbs{
  width: 250px;
  height: 110px;
  display: inline-block;
  position: relative;
  border: solid black;
  border-width: 2px;
  margin: 5px;
}


.wasteGallery{
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.wasteThumbs img{
  width: 100px;
  height: 100px;
  padding: 10px;
  float: none;
}
.wasteText {
  display: inline-block;
  float: none;
  position: absolute;
  padding-top: 10px;
  width: 136px;
}

.wasteText h2{
  font-size: 12pt;
  padding-bottom: 2pt;
  width: 136px;
}
.wasteText p{
  font-size: 9pt;
  margin-top: 2pt;
  width: 136px;
}

.wasteThumbs{
  width: 250px;
  height: 110px;
  display: inline-block;
  position: relative;
  border: solid black;
  border-width: 2px;
  margin: 5px;
}

#frequencyInputAmountInput {
 width: 50px;
}

#amount p {
  width: 50px;
  padding-left: 65px;
 }
 
#frequencyInput{
  width: 700px;
 }

 #frequencyInput p {
  font-size: 10px;
  font-weight: 400;
  color: gray;
  margin-left: -3px;
 }

 .column{
   padding:0.25rem;
   margin-bottom: 5px;
 }

 .columns{
   padding: 2px;
 }

#uploadWasteBlock label {
  font-size: 0.7rem;
  font-weight: 700;
  /* width: 700px; */
}

#uploadWasteBlock label p {
  font-size: 10px;
  color: gray;
  font-weight: 400;
  width: 350px;
  position: relative;
  display: inline-block;
  margin-left: 10px
}

#uploadProjectBlock input {
  font-size: 0.7rem;
  /* font-style: unset; */
  font-weight: 700;
}


#uploadProjectBlock label {
  font-size: 0.7rem;
  font-weight: 700;
  /* width: 700px; */
}

#uploadProjectBlock label p {
  font-size: 10px;
  color: gray;
  font-weight: 400;
  width: 350px;
  position: relative;
  display: inline-block;
  margin-left: 10px
}

#uploadProjectBlock input {
  font-size: 0.7rem;
  /* font-style: unset; */
  font-weight: 700;
}

::placeholder{
  color: #3273dc;
}

#updateSubmitButtons{
  width: 250px
}


#addPhotoInput{
  font-size: 12px;
  color: transparent;
}

#addPhotoInput input {
  font-size: 12px;
  /* background:  #3273dc; */
}

#radioInputs{
  color: #3273dc;
  font-weight: 500;
  font-size: small;
  width: 150px;
}

#timeDropDown{
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 5px;
}

#timeDropDown select{
  color: #3273dc;
  font-weight: 400;
}

.className{
  font-size: 12px;
}

#profileBody{
  position:relative;
  width: 100%;
}

#avatar{
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  overflow: hidden;
  border: 2px solid lightgray;
}

#fileInput{
  width: 300px;
}
/* #avatarContent{
    width: 300px;
    height: 100px;
    background-color: red;
    margin: 10px;
    overflow: hidden;
    border: 2px solid black;
} */


/* #avatarWrapper img{

} */

h3{
  margin-left: 15px;
}
.fileInput{
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview{
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  }

.previewText{
  width: 100;
  margin-top: 20px;
}
.submitButton{
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}


.centerText{
  text-align: center;
  width: 500px;
}

#content a{
  color: #389898;
  font-size: 18pt;
}


a{
  text-decoration: none;
  color: gray;
}

p{
  width: 80%;
  /* margin-left: 30px; */
}

a:hover{
  background-color: lightgray;
  color: #fcfcfc;
}

a:active{
  color: white;
}

hr{
  width: 80%;
}

ol{
  list-style: none;
}

#bizListInfo{
  font-size: 8pt;
}

#bizListInfo li{
  font-size: 8pt;
  list-style: none;
  position: relative;
  color: #888;

  /* padding-left: -20px; */
}

#listHeader{
  color: black;
}

#bizlist{
  position: absolute;
  padding-left: 15px;
}

#bizlist ul{
  position: relative;
  padding-left: 10px;
}

#head{
  padding-top:0px;
  padding-left:10px;
  position: sticky;
  /* background-color: #ddd; */
}

#hero{
  max-width: 80%;
}

#googleMap {
  position: relative;
  /* top: 110px; */
  height: 400px;
  /* bottom: 0; */
  width: 100%;
  visibility: visible;
}

#nav{
  position: static;
  top: 30px;
  left: 220px;
}

#title{
  width: 200px;
  max-width: 300px;
  size: fixed;
}

#marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.menuItem{
  /* padding: 20; */
  margin: 10px;
  padding-top: 3px;
  padding-left: 3px;
}

.project-box {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  /* margin: 6rem 0 0; */
  padding: 0 3%;
  width: 33%;
}

.project-box h3 {
  color: #fff;
  font-size: 3vw;
  margin: -60px 0 0.5em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px #000;
}

.project-box .social-link {
  display: block;
  margin: 2em auto 1em;
}

.project-box img{
  width: 100%;
  max-width: 300px
}

.project-box-blurb {
  font-size: 10pt;
  text-align: center;
}

.project-box-blurb p{
  margin-left: 2em
}
