extends ../layout

block content
  p #{title}:
  
  div#avatar
    script(src='/js/avatar.js')

  if (currentUser)
  h3 #[strong] #{currentUser.username}
  p  #[strong Email:] #{currentUser.email}

  
