extends ../layout

block content
  p #{title}:
  
  div#avatarJSON
    script(src='/js/avatarJSON.js')
  div#projectJSON
    script(src='/js/projectJSON.js')
  div#wasteJSON
    script(src='/js/wasteJSON.js')

  div#coverArea
    div.columns
      div#avatar
        script(src='/js/avatar.js')

      div#userInfo
        if (currentUser)
        h3 #[strong] #{currentUser.username}
        p  #[strong Email:] #{currentUser.email}
        div#avatarInput  
          script(src='/js/avatarInput.js')  

      div#addButtons
        div#addProjectButton
          script(src='/js/addProjectButton.js')  
        div#addWasteButton
          script(src='/js/addWasteButton.js')  
      
  h2 Projects:
  div.columns
    div#projects
      script(src='/js/projectGallery.js')  

  h2 Waste:
  div.columns
    div#waste
      script(src='/js/wasteGallery.js')      

