extends ../../../../layout 

block content

    
    div#singleWasteJSON
      script(src='../../../../../js/singleWasteJSON.js')    

    div#waste
      script(src='../../../../../js/waste.js')    

