extends ../../layout

block content
  
  div#userJSON
    script(src='../../../js/userJSON.js')

  div#profile
    script(src='../../../js/profile.js')    

    h2 Projects:
    div.columns
      div#projects
        script(src='../../../js/projectGallery.js')  

    h2 Waste:
    div.columns
      div#waste
        script(src='../../../js/wasteGallery.js')
