extends ../../layout

block content
  
  include userheader

    h2 Projects:
    div.columns
      div#projects
        script(src='../../../js/projectGallery.js')  

    h2 Waste:
    div.columns
      div#waste
        script(src='../../../js/wasteGallery.js')
